{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="bg-cover bg-center absolute z-0 h-screen bg-no-repeat" style="background-image:url('http://preview.uxtheme.website/xpider-preview/xpider/img/hero-8.png')"></div>
    <div class="z-0 opacity-90 w-full absolute" style="background: linear-gradient(-45deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%); height: 600px;;"></div>
    <div class="bg-cover bg-center absolute z-0 h-screen bg-no-repeat" style="background-image:url('http://preview.uxtheme.website/xpider-preview/xpider/img/hero-8.png')"></div>
    <div class="z-0 opacity-90 w-full absolute" style="background: linear-gradient(-45deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%); height: 600px;;"></div>
    
    <div class="absolute w-full flex flex-col">
        <div class="bg-bottom bg-no-repeat bg-cover" style="background-image:url('https://galaxy.up.video/media/backgrounds/bg-curve.svg')">
            <section class="w-full">
                <div class="container mx-auto flex flex-row sm:items-center xl:pb-16 xl:px-0 px-4">
                    <div class="w-1/2 text-white flex flex-col font-bold">
                        <h1 class="sm:text-5xl text-xl font-weight-bolder sm:mb-4">개인 맞춤형 화장품 추천 시스템</h1>
                        <h2 class="sm:text-2xl text-base mb-2">소셜 미디어 환경에서 기계학습을 적용</h2>
                        
                        <!-- <p class="text-xs sm:block hidden">* Legal text</p> -->
                    </div>
                    <div class="w-1/2 xl:pt-8 xl:items-center flex justify-end">
                        <img class="xl:w-3/5" src="{% static 'img/main.png' %}" />
                    </div>
                </div>
            </section>
        </div>
        <div>

            <div class="w-full md:w-3/5 mx-auto p-8  font-sans container ">
              <p>Open <strong>INSTRUCTION</strong></p>
              <div class="shadow-md ㄴ">
                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0 " id="tab-multi-one" type="checkbox" name="tabs">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-one">1. 개인 맞춤형 화장품 추천</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                      <p class="p-5">사용자 정보를 k-means로 군집화 수행 후, 질의를 한 사용자에 대해 유사한 사용자와 유사 화장품 분석에 협업 필터링을 적용하여 사용자 맞춤형 화장품 추천</p>
                    </div>
                </div>
                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-multi-two" type="checkbox" name="tabs">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-two">2. 화장품 트렌드 분석</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                      <p class="p-5">소셜 미디어(트위터)에서 실시간 데이터 수집하여 화장품 관련 키워드를 추출하고 시간을 고려한 TF-IDF 고려하여 트렌드를 분석하고 랭킹화</p>
                      <!-- Modal trigger -->
                      <label class="button" for="element-toggle">TF-IDF 추이</label>
                      <input id="element-toggle" type="checkbox" /> 
                    </div>
                </div>
                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-multi-three" type="checkbox" name="tabs">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-multi-three">3. 웹 UI</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                      <p class="p-5">사용자의 화장품 추천과 트렌드 분석을 차트로 가시화</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
  </div>
        
{% endblock content %}