<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Static Top Navbar Example for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="navbar-static-top.css" rel="stylesheet">

  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'view_table:home' %}">beauty item recommendation system</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ><a href="{% url 'view_table:query_input' %}">query input</a></li>
          <li ><a href="{% url 'view_table:query_result' %}">query result</a></li>
          <li><a href="{% url 'view_table:data_collection' %}">data collection</a></li>
          <li class="active"><a href="{% url 'view_table:status_information' %}">status information</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  
  <div class="container theme-showcase" role="main">

      <div class="well">
          <h1>LOG status</h1>
          <p>store success: {{count}} data to MariaDB</p>
          <!-- <p>총 {{count}} 개의 row를 저장하였습니다.</p> -->
      </div>
      <hr>
      <div class = col-sm-6>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Status MariaDB</h3>
              </div>
              <div class="panel-body">
                Running
                <button type="button" class="btn btn-primary">SEARCH</button>
                <hr>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span></div>
                </div>
              </div>
          </div>    
      </div>
      
      

  </div>







</body>
</html>